@{
    ViewBag.Title = "Step";
}

<h2>Step 指令</h2>

@if (ViewBag.Num == null) {
    <p>登入的狀態下，畫面左邊就會出現 MiniProfiler 的 Popup 視窗。</p>
} else {
    <p>費柏拉係數 (@ViewBag.Num) 計算的結果為：@ViewBag.Fibonacci</p>
}
 
